<a href="https://colab.research.google.com/github/DheniMoura/Python-para-Ci-ncia-de-Dados/blob/main/Python_para_ci%C3%AAncia_de_dados_parte_01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Selecionando dados

Importando bibliotecas e classes

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

Criar dados

no.arange(valor)

In [ ]:
dados = np.arange(8)

In [ ]:
dados

array([0, 1, 2, 3, 4, 5, 6, 7])

para reorganizar os dados
np.reshape((linhas,colunas))

In [ ]:
# Concatedados.reshape((4,2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

Selecionar e buscar dados

In [ ]:
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6', 'linha 7', 'linha 8']
serie = Series(dados, index=indice) #uma Serie é sempre indexada, então à esquerda sempre está o indice e à direita os valores

In [ ]:
serie

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

[indice']

In [ ]:
serie['linha 7']

6

In [ ]:
np.random.seed(25) # usando um gerador de números aleatorio para criar dados
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6']
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6', ]
df = DataFrame(np.random.rand(36).reshape((6,6)),
               index=indice,
               columns=colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

para selecionar dados do df <br>
nome_do_objeto.loc[[linhas],[colunas]]

In [ ]:
df.loc[['linha 2', 'linha 4'], ['coluna 3', 'coluna 5']]

         coluna 3  coluna 5
linha 2  0.556229  0.402366
linha 4  0.481343  0.383048

Fatiando dados <br>
['indice inicial':'indice final']

In [ ]:
serie['linha 3': 'linha 7']

linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
dtype: int64

# Manipulando dados

Filtrando dados

In [ ]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [ ]:
np.random.seed(25)
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6']
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6', ]
df = DataFrame(np.random.rand(36).reshape((6,6)),
               index=indice,
               columns=colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

Comparando com um valor<br>
nome_do_objeto < valor

In [ ]:
df < .2 # quais valores são menores que 0,2

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1     False     False     False      True     False      True
linha 2     False     False     False     False     False      True
linha 3     False     False      True     False     False     False
linha 4     False     False     False     False     False     False
linha 5     False     False      True     False     False     False
linha 6     False     False     False     False     False     False

Usando valor escalar para filtrar<br>
nome_do_objeto[nome_do_objeto > valor]

In [ ]:
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6', 'linha 7', 'linha 8']
series_obj = Series(np.arange(8), index=indice)

series_obj

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

In [ ]:
filtro = series_obj > 6 #todos os valores do objeto serie que sejam maiores do que 6
series_obj[filtro]

linha 8    7
dtype: int64

Atualizando valores<br>
['indice', 'indice','indice'] = valor

In [ ]:
series_obj['linha 5', 'linha 8'] = 8
series_obj

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    8
linha 6    5
linha 7    6
linha 8    8
dtype: int64

# Tratando valores em Branco (NaN)
## Econtrando e preenchendo valores em branco

In [ ]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [ ]:
#Encontrando valores em branco
em_branco = np.nan # utilizando numpy para encontrar valores em branco

serie = Series(['linha 1', 'linha 2', em_branco, 'linha4', 'linha 5', 'linha 6', em_branco,'linha 8'])
serie

0    linha 1
1    linha 2
2        NaN
3     linha4
4    linha 5
5    linha 6
6        NaN
7    linha 8
dtype: object

In [ ]:
# método .isnull retorna valores booleanos ao comparar os itens dentro do objeto como nan, do numpy
serie.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

## preenchendo valores em branco

In [ ]:
#Criando um dataframe com valores randomicos
np.random.seed(25)
df = DataFrame(np.random.rand(36).reshape((6,6)))
df.loc[3:5, 0] = em_branco # alterando valores das linhas 3 a 5, da coluna 0
df.loc[1:4, 5] = em_branco # alterando valores das linhas 1 a 3, da coluna 5
df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# método .fillna para preencher os valores vazios, esse método retorna sempre um novo dataframe
df_preenchido = df.fillna(0) #passei como parâmetro o valor com que quero preencher
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.000000
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.000000
3  0.000000  0.836375  0.481343  0.516502  0.383048  0.000000
4  0.000000  0.559053  0.034450  0.719930  0.421004  0.000000
5  0.000000  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# também dá pra utilizar o .fillna para atribuir valores diferentes para colunas diferentes 
dicio = {0: 0.1, 5: 1.25} # este dicionário recebe o nome da coluna e o valor de atribuição
df_preenchido = df.fillna(dicio)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  1.250000
2  0.447031  0.585445  0.161985  0.520719  0.326051  1.250000
3  0.100000  0.836375  0.481343  0.516502  0.383048  1.250000
4  0.100000  0.559053  0.034450  0.719930  0.421004  1.250000
5  0.100000  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# preenchido com a média das colunas
media = df.mean(0,1) # média das colunas
df_preenchido = df.fillna(media)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.321597
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.321597
3  0.667375  0.836375  0.481343  0.516502  0.383048  0.321597
4  0.667375  0.559053  0.034450  0.719930  0.421004  0.321597
5  0.667375  0.900274  0.669612  0.456069  0.289804  0.525819

# Manipulação de dados básico
## Contando e removendo valores em branco

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
# Criando DF com alguns valores em branco
np.random.seed(25)
df = DataFrame(np.random.rand(36).reshape((6,6)))
df.loc[3:5, 0] = em_branco
df.loc[1:4, 5] = em_branco
df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# Contando valores em branco
df.isnull().sum() #retorna a quantidade de valores em branco que encontrou em cada coluna

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

In [ ]:
# removendo os dados em branco
df.dropna() # retorna o conjunto de linhas e colunas que não apresentam valores NaN

          0         1         2         3       4         5
0  0.870124  0.582277  0.278839  0.185911  0.4111  0.117376

In [ ]:
df.dropna(axis=1) #remove apenas as colunas com valores NaN

          1         2         3         4
0  0.582277  0.278839  0.185911  0.411100
1  0.437611  0.556229  0.367080  0.402366
2  0.585445  0.161985  0.520719  0.326051
3  0.836375  0.481343  0.516502  0.383048
4  0.559053  0.034450  0.719930  0.421004
5  0.900274  0.669612  0.456069  0.289804

## Removendo dados duplicados

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
dados = {
    'coluna 1' : [1, 1, 2, 2, 3, 3],
    'coluna 2' : ['a', 'a', 'b', 'b', 'c', 'c'],
    'coluna 3' : ['A', 'A', 'B', 'B', 'C', 'C'],
}

df = DataFrame(dados)
df

   coluna 1 coluna 2 coluna 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C

In [ ]:
# encontrando dados duplicados
df.duplicated() # retorna booleano para cada linha, dizendo se nela há dado duplicado ou não

0    False
1     True
2    False
3     True
4    False
5     True
dtype: bool

In [ ]:
print(df.drop_duplicates()) # retorna um novo df sem as linhas repetidas
print('-'*29)
print(df)

   coluna 1 coluna 2 coluna 3
0         1        a        A
2         2        b        B
4         3        c        C
-----------------------------
   coluna 1 coluna 2 coluna 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C

In [ ]:
df.drop_duplicates(inplace=True) # utilizar o inplace para salvar a alteração no df original
df

   coluna 1 coluna 2 coluna 3
0         1        a        A
2         2        b        B
4         3        c        C

In [ ]:
dados = {
    'coluna 1' : [1, 1, 2, 2, 3, 3],
    'coluna 2' : ['a', 'a', 'b', 'b', 'c', 'c'],
    'coluna 3' : ['D', 'A', 'B', 'B', 'C', 'C'],
}

df2 = DataFrame(dados)
df2

   coluna 1 coluna 2 coluna 3
0         1        a        D
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C

In [ ]:
df2.drop_duplicates(['coluna 3']) #remove os dados repetidos apenas da 'coluna 3'

   coluna 1 coluna 2 coluna 3
0         1        a        D
1         1        a        A
2         2        b        B
4         3        c        C

# Concatenando Dados

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
df3 = pd.DataFrame(np.arange(36).reshape(6,6))
df3

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [ ]:
df4 = pd.DataFrame(np.arange(15).reshape(5,3))
df4

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [ ]:
# pd.concat([obj-da-esquerda, objt-da-direita])

pd.concat([df3, df4]) #pega as linhas do segundo objeto e coloca abaixo das linhas do primeiro objeto, ou seja, considera os indices das colunas

    0   1   2     3     4     5
0   0   1   2   3.0   4.0   5.0
1   6   7   8   9.0  10.0  11.0
2  12  13  14  15.0  16.0  17.0
3  18  19  20  21.0  22.0  23.0
4  24  25  26  27.0  28.0  29.0
5  30  31  32  33.0  34.0  35.0
0   0   1   2   NaN   NaN   NaN
1   3   4   5   NaN   NaN   NaN
2   6   7   8   NaN   NaN   NaN
3   9  10  11   NaN   NaN   NaN
4  12  13  14   NaN   NaN   NaN

In [ ]:
# pd.concat([obj-da-esquerda, objt-da-direita], axis=1) força a juntar os dados considerando os indices das linhas
pd.concat([df3, df4],axis=1)

    0   1   2   3   4   5     0     1     2
0   0   1   2   3   4   5   0.0   1.0   2.0
1   6   7   8   9  10  11   3.0   4.0   5.0
2  12  13  14  15  16  17   6.0   7.0   8.0
3  18  19  20  21  22  23   9.0  10.0  11.0
4  24  25  26  27  28  29  12.0  13.0  14.0
5  30  31  32  33  34  35   NaN   NaN   NaN

## Transformando dados
* remove dados - eliminando vairáveis ou observações
* adiciona dados - acrescentando variáveis ou observações
* Ordena dados

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df5 = pd.DataFrame(np.arange(36).reshape(6,6))
df5

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

## Removendo dados

In [ ]:
#retirando linhas através dos indices das linhas a ser removidas
df5.drop([0, 2]) #retorna um novo df

    0   1   2   3   4   5
1   6   7   8   9  10  11
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [ ]:
#retirando colunas
df5.drop([1, 2], axis=1)

    0   3   4   5
0   0   3   4   5
1   6   9  10  11
2  12  15  16  17
3  18  21  22  23
4  24  27  28  29
5  30  33  34  35

## Acrescentando dados

In [ ]:
serie = pd.Series(np.arange(6))
serie.name = 'nova_variavel'
serie

0    0
1    1
2    2
3    3
4    4
5    5
Name: nova_variavel, dtype: int64

In [ ]:
# adicionar a serie como uma variável no df
novo_df5 = pd.DataFrame.join(df5, serie)
novo_df5

    0   1   2   3   4   5  nova_variavel
0   0   1   2   3   4   5              0
1   6   7   8   9  10  11              1
2  12  13  14  15  16  17              2
3  18  19  20  21  22  23              3
4  24  25  26  27  28  29              4
5  30  31  32  33  34  35              5

## Ordenando dados

In [ ]:
# ordena pela coluna nova_variavel de forma decrescente
df_ordenado = novo_df5.sort_values(by=['nova_variavel'], ascending=False)
df_ordenado

    0   1   2   3   4   5  nova_variavel
5  30  31  32  33  34  35              5
4  24  25  26  27  28  29              4
3  18  19  20  21  22  23              3
2  12  13  14  15  16  17              2
1   6   7   8   9  10  11              1
0   0   1   2   3   4   5              0

# Agrupamentos e agregações

In [ ]:
import pandas as pd

In [ ]:
#caminho = "C:/Users/Dheni/Documents/Cursos TI/python para ciencia de dados/dados/mtcars.csv"
# dados relativos ao consumo de combustível
caminho = "/content/mtcars.csv"

carros = pd.read_csv(caminho)
carros.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# Renomeando colunas
#todo df possui um atributo chamado columns, esse atributo contém os nomes das colunas
carros.columns = ['nome',	'mpg', 'cyl', 'disp', 'hpt', 'drat',	'wt',	'qsec',	'vs',	'am', 'gear', 'carb'] 
carros.head()

,nome,mpg,cyl,disp,hpt,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## Agrupamentos dados por uma coluna

In [ ]:
# .groupby('nome-da-serie')
# agrupando os carros por cilindros (cyl)
coluna_agrupamento = carros['cyl']
grupos_carros = carros.groupby(coluna_agrupamento)

#calcula a média das outras colunas
grupos_carros.mean()

,mpg,disp,hpt,drat,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,
4,26.663636,105.136364,82.636364,4.070909,2.285727,19.137273,0.909091,0.727273,4.090909,1.545455
6,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
8,15.100000,353.100000,209.214286,3.229286,3.999214,16.772143,0.000000,0.142857,3.285714,3.500000